@media (max-width: 1153px) {
    .header {
        height: 145px;
        display: flex;
        flex-direction: column;
        background-image: url('https://firebasestorage.googleapis.com/v0/b/techdocang.appspot.com/o/site-images%2Fheader-background-image.png?alt=media&token=c1fad2d1-10b6-48e3-a509-7a71935add8b');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .headertitle {
        display: flex;
        flex-direction: row;
        row-gap: 0px;
        width: 85vmin;
        margin: auto;
        align-items: flex-start;
        justify-content: center;
        font-size: 100px;
        font-family: omnes-cyrillic, sans-serif;
        font-weight: 100;
        font-style: normal;
        letter-spacing: 4vw;
        text-shadow:0px 3px 6px rgba(0,0,0,.79);
        color: var(--primaryColor);
    }
    .maintitle {
        display: inline-block;
        flex-shrink: 1;
        margin-right: -20px;

        margin-top: 60px;
        width: auto;
        z-index: 0;
        text-align: center;


        opacity: .5;


    }
    .maintitle2 {
        display: inline-block;
        flex-shrink: 1;
        /* font-size: 150px;
        font-family: omnes-cyrillic, sans-serif;
        font-weight: 100;
        font-style: normal;
        letter-spacing: 90px; */
        margin-top: 60px;

        width: auto;
        z-index: 0;
        text-align: center;


        opacity: .5;
    }
    .subTitle {
        display:block;
        text-align: center;
        align-items: center;
        width: 100%;
        z-index: 25;
        height: auto;
        font-family: coniferous, sans-serif;
        font-size: 50px;
        font-weight: 500;
        font-style: normal;
        -webkit-text-stroke: 2px var(--accent1Color);
        text-shadow: 4px 4px 2px rgba(247, 242, 242, .79);
        margin: -50px auto 0 auto;
        justify-content: flex-end;
    }
    .siteLogoContainer {
        height: auto;
        width: auto;
        align-self: flex-start;
        margin: 10px 0;
        z-index: 20;
        display: flex;
        flex-direction: column;
        row-gap: 0px;
        overflow:visible;
    }
    .siteLogo {
        z-index: 20;
        width: 140px;
        height: auto;

        margin-top: 0px;
    }
}
@media (min-width: 1154px) {
    .header {
        height: 13vmax;
        display: flex;
        flex-direction: column;
        background-image: url('https://firebasestorage.googleapis.com/v0/b/techdocang.appspot.com/o/site-images%2Fheader-background-image.png?alt=media&token=c1fad2d1-10b6-48e3-a509-7a71935add8b');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .headertitle {
        display: flex;
        flex-direction: row;
        row-gap: 0px;
        width: 85vmin;
        margin: auto;
        align-items: flex-start;
        justify-content: center;
        font-size: 10vmax;
        font-family: omnes-cyrillic, sans-serif;
        font-weight: 100;
        font-style: normal;
        letter-spacing: 4vw;
        text-shadow:0px 3px 6px rgba(0,0,0,.79);
        color: var(--primaryColor);
    }
    .maintitle {
        display: inline-block;
        flex-shrink: 1;
        margin-right: -50px;

        margin-top: 60px;
        width: auto;
        z-index: 0;
        text-align: center;


        opacity: .5;


    }
    .maintitle2 {
        display: inline-block;
        flex-shrink: 1;
        /* font-size: 150px;
        font-family: omnes-cyrillic, sans-serif;
        font-weight: 100;
        font-style: normal;
        letter-spacing: 90px; */
        margin-top: 60px;

        width: auto;
        z-index: 0;
        text-align: center;


        opacity: .5;
    }
    .subTitle {
        display:block;
        text-align: center;
        align-items: center;
        width: 100%;
        z-index: 25;
        height: auto;
        font-family: coniferous, sans-serif;
        font-size: 50px;
        font-weight: 500;
        font-style: normal;
        -webkit-text-stroke: 2px var(--accent1Color);
        text-shadow: 4px 4px 2px rgba(247, 242, 242, .79);
        margin: -50px auto 0 auto;
        justify-content: flex-end;
    }
    .siteLogoContainer {
        height: auto;
        width: auto;
        align-self: flex-start;
        margin: 10px 0;
        z-index: 20;
        display: flex;
        flex-direction: column;
        row-gap: 0px;
        overflow:visible;
    }
    .siteLogo {
        z-index: 20;
        width: 12vmax;
        height: auto;

        margin-top: 0px;
    }

}

