.actionsCodeBlock1 {
    display: flex;
    flex-direction: column;
    margin: auto;
    
    padding: 0px;
    width: auto;
}


.actionsImg1 {
    width: 70%;
    margin: auto;
    align-items: center;
}

.actionsCodeBlock3 {
    width: 500px;
    margin: auto;
    justify-content: center;
    margin: 0 auto;

}
.actionsCodeBlock3 .coderBlock{
    // margin-left: 60px;
    padding: 2vw 4vw;
}
.actionsCodeBlock3 .codefileInfo {
    width: 500px;
}

.actionsCodeBlock2 {
    width: 500px;
    margin: auto;
    justify-content: center;
    margin: 0 auto;

}
.actionsCodeBlock2 .coderBlock{
    width: auto;
    padding: 2vw 4vw;
}
.actionsCodeBlock2 .codefileInfo {
    width: auto;
}
.actionsCodeBlock2 .codeInputBlock {
    width: auto;
}
.actionsCodeBlock4 {
    width: 350px;
    margin: auto;
    justify-content: center;
    margin: 0 auto;

}
.actionsCodeBlock4 .coderBlock{
    // margin-left: 60px;
    padding: 2vw 4vw;
}
.actionsCodeBlock4 .codefileInfo {
    width: 350px;
}