.utilizingFeatureSelectorsCodeBlock1 {
  
    width: auto;
    margin: auto;
   
   
}

.utilizingFeatureSelectorsCodeBlock1 .coderBlock {
    width: auto;
    margin: auto;
    padding: 2vw 4vw;
}

.utilizingFeatureSelectorsCodeBlock1 .codefileInfo {
    width: 100%;
    margin: auto;
 
}
.utilizingFeatureSelectorsCodeBlock2 {
  
   
    margin: auto;
    width: auto;
 
}

.utilizingFeatureSelectorsCodeBlock2 .coderBlock {

    padding: 1vw 3vw;
}


.utilizingFeatureSelectorsCodeBlock3 {
  
    margin:auto;
    width:auto;
}

.utilizingFeatureSelectorsCodeBlock3 .coderBlock {

    padding: 1vw 3vw;
}
.utilizingFeatureSelectorsCodeBlock3 .codefileInfo {
    width: 100%;
    margin: auto ;

 
}
.utilizingFeatureSelectorsCodeBlock4 {
    display: flex;
    flex-direction: column;
   
    margin: auto;
    width: auto;
    align-items: center;
}

.utilizingFeatureSelectorsCodeBlock4 .coderBlock {
    
    padding: 1vw 3vw;
    margin-top: 0px;
    align-self: flex-start;
    width: 100%;
}
.utilizingFeatureSelectorsCodeBlock4 code.coderBlock {
    padding: 2vw 4vw;
}