<section id="introduction" class="infoChapter">
  <div class="sectionContainer">
    <!-- <app-chapter-heading [heading]="this.myHeading"></app-chapter-heading> -->
    <div class="chapterContent">
      <h4>What is NgRx?</h4>
      <p>
        NgRx is a framework for building reactive applications in Angular. Ngrx
        provides libraries for:
      </p>

      <ul class="chapterContent-ul">
        <li class="chapterContent-li">Managing global and local state.</li>
        <li class="chapterContent-li">Entity collection management</li>
        <li class="chapterContent-li">Integration with the Angular router</li>
        <li class="chapterContent-li">
          Developer tooling that enhances developer experience when building
          many different types of applications
        </li>
        <li class="chapterContent-li">
          Isolation of side effects to promote a cleaner component architecture
        </li>
      </ul>

      <p>
        In this NgRx kick starter we will try to help you become acquainted with
        the basic operation of RgRx. We will focus on the highlighted
        functionality listed above and the advantages of NgRx implementation. As
        your application's complexity increasesyou will find the need for
        @ngrx/entity and @ngrx/router-store.
      </p>

      <h4>How is NgRx pronounced?</h4>
      <p>
        Don't worry it is simple, when you say it you just spell it out letter
        by letter... "N G R X"
      </p>

      <h4>What does NgRx mean?</h4>
      <p>
        Like stated above NgRx is a framework for building reactive applications
        in angular. This means some very smart developers combined the Redux
        Pattern with Angular and created a host of libraries and tools to manage
        your application's state.
      </p>

      <div class="ngrxEquationContainer">
        <div class="ngrxDiv">
          <div class="equationContent">
            <div class="equationContentContainer1">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/techdocang.appspot.com/o/site-SVGs%2Fngrx_logo.svg?alt=media&token=599b8652-250d-475f-b566-8981c8d26153"
                alt=""
                class="ngrxEquationLogo"
              />
              <p class="nextToLogo">NgRx</p>
            </div>
          </div>
        </div>
        <div class="oper8orDivEq">=</div>
        <div class="angularDiv">
          <div class="equationContent">
            <div class="equationContentContainer1">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/techdocang.appspot.com/o/site-SVGs%2FangularLogo.svg?alt=media&token=4c9f6bb1-ff3d-4992-bedd-4ab6f36bd896"
                alt=""
                class="ngrxEquationLogo"
              />
              <p class="nextToLogo">Angular</p>
            </div>
            <div class="equationContentContainer2">
              <ul class="listIndent">
                <li>Component</li>
                <li>View</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="oper8orDiv">+</div>

        <div class="reduxDiv">
          <div class="equationContent">
            <div class="equationContentContainer1">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/techdocang.appspot.com/o/site-SVGs%2FreduxLogo.svg?alt=media&token=bd0bc034-ad90-48df-b619-55b9a39bb849"
                alt=""
                class="ngrxEquationLogo"
              />
              <p class="nextToLogo">Redux</p>
            </div>
            <div class="equationContentContainer2">
              <ul>
                <li>State / Store</li>
                <li>Reducers</li>
                <li>Actions</li>
                <li>Payloads</li>
                <li>Effects</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <h4>Where can we find more information?</h4>
      <p>Information for this kickstarter was pieced together from:</p>
      <ul class="chapterContent-ul">
        <li class="chapterContent-li">
          PluralSight's
          <a
            href="https://www.pluralsight.com/courses/angular-ngrx-getting-started"
            alt="link to pluralsight's Angular NgRx Getting Started course"
            >Angular NgRx: Getting Started</a
          >
          by Deborah Kurata & Duncan Hunter
        </li>
        <li class="chapterContent-li">
          <a href="https://ngrx.io">NgRx website</a>
        </li>
      </ul>

      <p>
        You can download the code for this project so that you may follow along
        <a href="https://github.com/ApexBugFinder/Angular-NgRx-GettingStarted"
          >here</a
        >
      </p>

      <h4>What are the advantages of NgRx?</h4>
      <p class="quote">
        ‘Redux is not great for making simple things quickly. It is great for
        making really hard things simple’
      </p>
      <p class="quoteAuthor">- Jani Evakallio</p>

      <p>
        NgRx simplifies a complex problem by standardizing the process of
        dealing with a shared state. A shared state grows in complexity as the
        application grows as more components become dependent on the shared
        state and can effect the shared state at any time. Implementing NgRx
        can:
      </p>

      <ul class="chapterContent-ul">
        <li class="chapterContent-li">Simplify code</li>
        <li class="chapterContent-li">Easier to track changes</li>
        <li class="chapterContent-li">Easier to debug and test</li>
        <li class="chapterContent-li">
          Implement an angular change detection strategy in components - improve
          performance
        </li>
        <li class="chapterContent-li">Testing Reducers are easier to test</li>
        <li class="chapterContent-li">Tooling Advantages</li>
        <ul class="chapterContent-ul2">
          <li class="chapterContent-li">History of state changes</li>
          <li class="chapterContent-li">Visualize state tree</li>
          <li class="chapterContent-li">
            Debug by undoing and redoing state changes
          </li>
          <li class="chapterContent-li">Advanced Logging</li>
        </ul>
      </ul>
    </div>
  </div>
</section>
