.ngRxEffectGif {
    align-self: center;
    
    width: 50vw;
}
.effectsCodeBlock1 {

   width: auto;
    margin: auto;
   
}


.effectsCodeBlock1 code.coderBlock {
    padding: 1vw 3vw;
}

.effectsCodeBlock2 {

   
    margin: auto;
    width: auto;
  
}


.effectsCodeBlock2 code.coderBlock {
    padding: 2vw 4vw;
}

.effectsCodeBlock2 .codefileInfo {
    width: auto; 
    padding: auto;

}