.chapterHeading {
    width: 100%;
    height: 65.5px;
    background: radial-gradient(ellipse at -30%, #fff 7%, #cfcfcf 25.1%, #808080 60%);
    opacity: .9;
    vertical-align: center;
    border-bottom: var(--accent1Color) solid 5px;
    padding: auto;


 h3.headingTitle {

    color: var(--primaryColor);
    font-family: omnes-cyrillic, 'Segoe UI';
    height: 80%;
    margin: 10px 16px;
    padding: 15px 0px;
    font-size: 24px;
    font-weight: 400;

}
}