.hide-nav-bar {
    background-color: white;
    height: 40px;
   }
@media (min-width: 1154px) {


mat-drawer-content {
    font-family: omnes-cyrillic, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;

    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 100%;
    grid-template-areas: "sideMenuContainer contentContainer";
}

.sideMenuContainer{
    grid-area: sideMenuContainer;
    margin: 0px;
    z-index: 10;
}
.contentContainer {
    grid-area: contentContainer;
    overflow-y: scroll;
    height: 1000px;
    width: 100%;
    margin: 0px auto 0px auto;
}
.topMenuContainer {
    height: 0;
    visibility: collapse;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

}

@media (max-width: 1154px) {

   mat-drawer-content {
        font-family: omnes-cyrillic, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 24px;
        
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "contentContainer"
        ;
        
    }
    .sideMenuContainer {
        visibility: collapse;
        width: 0;
        display: none;
    }
    .topMenuContainer {
        height: 40px;
        width: 100%;
        background-color: var(--accent1Color);
        position:fixed;
        top: 0;
        left: 0;
        z-index: 10;
        visibility: visible;
        display:block;
    }

  

     
}