/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
@import './assets/css/navBar-styles.scss';
@import './assets/css/codeBlock-styles.scss';

body { margin: 0; font-family: omnes-cyrillic,'Segoe UI', "Helvetica Neue", sans-serif; }
:root{
    --primaryColor: #BA2BD2;
    --secondaryColor: #707070;
    --accent1Color: #4B304F;
    --accent2Color: #E0DA62;
    --folderColor: #57B3A1;


}
.currentLink {
    color: red;
}
.hide-nav-bar {
    background-color: white;
    height: 40px;
    z-index: 15;
   }
p span .file {
    font-family: omnes-cyrillic, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400px;
    color: var(--primaryColor);
    text-decoration: underline;
}
h1 {
    font-size: 10%;
    font-family: omnes-cyrillic, sans-serif;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 90px;
    text-shadow:0px 3px 6px rgba(0,0,0,.79);
}

h3 {
    color: var(--primaryColor);
    font-family: omnes-cyrillic, sans-serif;
    font-size: 24px;
    font-weight: 300;
    width: 90%;
    margin: 20px auto;
}

h4 {

    font-family: omnes-cyrillic, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;

    margin-top: 30px;

}
 p{
    font-family: omnes-cyrillic, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: normal;
}

ul {
    text-decoration: none;


}
li {
    font-family: omnes-cyrillic, 'Segoe IU';
    font-size: 16px;
    text-decoration: none;

}

li a, p a {
    color: var(--accent1Color);
}
.sectionContainer {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 20px;
}


.chapterContent {
    display: flex;
    flex-direction: column;
    row-gap:20px;
    width: 80%;
    margin: 40px auto 40px auto;
    height: auto;

}
.chapterContent h4 {
    font-size: 18px;
    font-weight: 600;
    font-family: omnes-cyrillic;
    color: var(--accent1Color);
}
.chapterContent-ul {
    width: 55vw;

    margin: auto;
}
 .chapterContent-ul li{
    list-style-image: url('https://firebasestorage.googleapis.com/v0/b/techdocang.appspot.com/o/site-SVGs%2Fbullet-li2.svg?alt=media&token=b7d13583-24e5-4fd7-8d45-ec6e70b1328a');
    margin-left: 0px;
    font-size: 14px;
}

.chapterContent-ul2 {
    margin-left: 0px;
    margin-bottom: 40px;
}

 .chapterContent-ul2 li{
    list-style-image: url('https://firebasestorage.googleapis.com/v0/b/techdocang.appspot.com/o/site-SVGs%2Fbullet-li3.svg?alt=media&token=50051193-b633-4d68-90ca-caa29661770d');
    margin-left: 0px;
}

 .chapterContent-ul-numbered {
    list-style: decimal;

}
