.ngrxPreReqs {
    display:flex;
    flex-direction: row;
    margin-top: 20px;
}
.ngrxPreReqs a{
    margin-left: 8vw;

}

.ngrxPreReqs a .logoSize {
    width: 80px;
    max-height: 60px;
}

.gettingStartedUL1 li{
    margin-bottom: 20px;
}

.gettingStartedTerminalCode1 {
    width: 40%;
    margin: auto;
}

.gettingStartedCodeBlock1 {
    margin: 20px auto;
    width: 400px;
 }
 .gettingStartedCodeBlock1 .coderBlock {
     padding: 1vw 4vw;
 }
.gettingStartedCodeBlock1 .codefileInfo {
    width: 400px;
}