.bottom-container {
  width: 100%;
  display: flex;
  flex-direction: row;
   justify-items: center;
    background-color: var(--accent1Color);
    position: absolute;
    bottom: 0px;
   .navContainer {
    margin: auto;
    width: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;

    ul.bottom-nav {
      margin: auto;
      list-style: none;
      li {
        display: inline-block;
        margin: 20px auto;
      }
    }
    a {
      margin: auto 100px;
      font-size: 24px;
      text-decoration: none;
    color: white;
    }
    a:hover {

      color: var(--primaryColor);

    }
  }
@media screen and (max-width: 600) {
  .navContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    ul {
      padding-left: 0;
      margin-left:0;
    }
  }
}
}
